* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/*style -- body -- menambahkan warna gradasi  #3533cd, #000000 dan arah warna gradasi sebesar 15 derajat */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, #3533cd, #000000);
}
/* style -- body - selesai */


/* style -- div.calculator -- menambahkan style pada kalkulator dibagian ace del % dan bagi, notes*mengatur koma pada css seperti 0,5 harus menggunakan titik seperti 0.5 */
.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: #1a1b26;
  box-shadow: 0 3px 15px rgba(113, 115, 119, 0.9);
}
/* style -- div.calculator - selesai */


/* style -- input*/
input {
  width: 350px;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  box-shadow: 0 3px 15px rgba(84, 84, 84, 0.3);
  font-size: 35px;
  text-align: right;
  cursor: pointer;
  color: white;
}
/* style -- input - selesai*/


/* style -- input::placeholder -- mewarnakan angka awal menjadi putih yang ada pada menu input*/
input::placeholder {
  color: #ffffff;
}
/* style -- input::placeholder - selesai */


/* style -- button -- menambahkan styling pada angka, delete, ace, lambang aritmatika*/
button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 3px 15px rgba(84, 84, 84, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* style -- button - selesai*/


/* style -- operator -- menambahkan styling kuning pada huruf ace, del, operator aritmatika kecuali sama dengan*/
.operator {
  color: #fbc531;
}
/* style -- operator - selesai*/


/* style -- tombol sama dengan -- menambahkan style background yang berbeda pada sama dengan*/
.equalButton {
  background-color: #fb7c14;
}
/* style -- tombol sama dengan - selesai*/

